{% extends "base.html" %}
{% load custom_filters %}

{% block titlebar %}Current Usage{% endblock %}
{% block title %}Topologies Currently in Use{% endblock %}

{% block content %}
    {% if stats_list %}
    <table>
        <tr>
            <th>Topology Type</th>
            <th colspan="2">Client</th>
            <th>Time Connected</th>
            <th>Duration</th>
            <th>Total Traffic<br/>(# packets)</th>
            <th>Idle Time</th>
        </tr>
    {% endif %}
    {% for ts in stats_list %}
        <tr>
            <td>{{ ts.template.name }}</td>
            <td>{{ ts.userprof.user.username }}</td><td>{{ ts.client_ip }}</td>
            <td>{{ ts.time_connected|date:"D d-M \a\t H:n:s" }}</td>
            <td>{{ ts.get_num_sec_connected|durationf }}</td>
            <td>{{ ts.total_packets }}</td>
            <td>{{ ts.get_idle_time_sec|durationfr }}</td>
        </tr>
    {% empty %}
    <p>There are no active topologies at this time.</p>
    {% endfor %}
    {% if stats_list %}
    </table>
    {% endif %}
{% endblock %}
