{% extends "base.html" %}
{% load custom_filters %}

{% block titlebar %}Search Usage Statistics{% endblock %}
{% block title %}Search Usage Statistics{% endblock %}
{% block head %}
<script type="text/javascript" src="/js/ModelSearch.js"></script>
{% endblock %}

{% block content %}
<form method="post" action="">
<h2>Inclusive Filter(s):</h2>
<div id="inclusive_filters"></div>
<hr/>

<h2>Exclusive Filter(s):</h2>
<div id="exclusive_filters"></div>
<hr/>

<h2>Grouping:</h2>
<div id="grouping"></div>
<hr/>

<p><input type="submit" value="Search"/></p>
</form>

<script type="text/javascript">
<!--
(function () { // keep names out of the global namespace
    var gfields = [];
    {% for dname, allowed_ops in gfields_list %}
    gfields[{{ forloop.counter0 }}] = ['{{ dname }}', [{% for op in allowed_ops %}'{{ op|safe }}'{% if not forloop.last %}, {% endif %}{% endfor %}]];{% endfor %}

    var sfields = [];
    {% for dname, allowed_ops in sfields_list %}
    sfields[{{ forloop.counter0 }}] = ['{{ dname }}', [{% for op in allowed_ops %}'{{ op|safe }}'{% if not forloop.last %}, {% endif %}{% endfor %}]];{% endfor %}

    var afields = [];
    {% for dname in afields_list %}
    afields[{{ forloop.counter0 }}] = ['{{ dname }}'];{% endfor %}

    var in_div, ex_div, grouping_div, ms;
    in_div = document.getElementById('inclusive_filters');
    ex_div = document.getElementById('exclusive_filters');
    grouping_div = document.getElementById('grouping');
    ms = createModelSearch("", gfields, sfields, afields, in_div, ex_div, grouping_div);
}());
//-->
</script>

Records matching <i>any</i> inclusive filter will be included <i>except</i>
those which match <i>any</i> exclusive filter.
{% endblock %}
