{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Add Permitted Source IP range to Topology {{ tid }}{% endblock %}

{% block content %}
    <h2>Add Permitted Source IP range to VNS Topology {{ tid }}</h2>
    {% if form %}
        <form action="/topology{{ tid }}/allow_new_srcip/" method="post">
        <table>
        {{ form.as_table }}
        <tr><td colspan="2" style="text-align:center"><input type="submit" value="Add permitted source IP range"/></td></tr>
        </table>
        </form>
    {% else %}
        <a href="/topology{{ tid }}/">View topology {{ tid }}</a>
    {% endif %}

<p>Return to the <a href="/topology{{ tid }}/">Topology {{ tid }} detail page</a>.
{% endblock %}
