{% extends "base.html" %}
{% load custom_filters %}

{% block titlebar %}Active Topologies{% endblock %}
{% block title %}Active Topologies{% endblock %}

{% block content %}
    {% if topos_list %}
    <table>
        <tr>
            <th colspan="2">Owner</th>
            <th>Type</th>
            <th>ID</th>
            <th>IPs Assigned</th>
            <th>IPs Allocated From</th>
            <th>More</th>
        </tr>
    {% endif %}
    {% for t in topos_list %}
        <tr>
            <td>{{ t.owner.get_profile.org|orglink }}</td>
            <td>{{ t.owner|fnamelink }}</td>
            <td>{{ t.template.name }}</td>
            <td>{{ t.id }}</td>
            <td>{{ t.get_where_ips_allocated.start_addr }}/{{ t.get_where_ips_allocated.mask }}</td>
            <td>{{ t.get_where_ips_allocated.block_from.org.name }}</td>
            <td><a href="/topology{{ t.id }}/">Details</a></td>
        </tr>
    {% empty %}
    <p>There are no topologies at this time.</p>
    {% endfor %}
    {% if topos_list %}
    </table>
    {% endif %}
{% endblock %}
