{% extends "base.html" %}
{% load custom_filters %}

{% block titlebar %}Topology {{ t.id }}{% endblock %}
{% block title %}Topology {{ t.id }}{% endblock %}

{% block content %}
    <p style="margin-top:0">
        <a href="/topology{{ t.id }}/readme/">Topology README</a>
        {% if t.has_rtable %}
        <br/>
        <a href="/topology{{ t.id }}/rtable/">Topology Routing Table</a>
        {% endif %}
    </p>

    <table class="vert">
        <tr>
            <th>Owner</th>
            <td>{{ t.owner|fnamelink }} ({{ t.owner.get_profile.org|orglink }})</td>
        </tr><tr>
            <th>Allowed Users</th>
            <td>
                {% if t.public %}
                    Anyone (public).
                {% else %}
                {% for pu in t.get_permitted_users %}
                    {{ pu|unamelink }} ({{ pu|fnamelink }})
                    {% if user.is_authenticated %}
                    {% if user == t.owner or user.is_superuser %}
                        - <a href="/topology{{ t.id }}/disallow_user/{{ pu.username }}/">remove</a>
                    {% endif %}
                    {% endif %}
                    <br/>
                {% empty %}
                    Just the owner.
                {% endfor %}
                {% endif %}
            </td>
        </tr><tr>
            <th>Allowed Source IPs (for traffic)</th>
            <td>
                {% for ps in t.get_permitted_source_ips %}
                    {{ ps }}
                    {% if user.is_authenticated %}
                    {% if user == t.owner or user.is_superuser %}
                        - <a href="/topology{{ t.id }}/disallow_srcip/{{ ps }}/">remove</a>
                    {% endif %}
                    {% endif %}
                    <br/>
                {% empty %}
                    All
                {% endfor %}
            </td>
        </tr><tr>
            <th>Type</th>
            <td>{{ t.template.name }}</td>
        </tr><tr>
            <th>IPs Allocated From</th>
            <td>{{ t.get_where_ips_allocated.block_from }} ({{ t.get_where_ips_allocated.block_from.org.name }})</td>
        </tr><tr>
            <th>IPs Assigned</th>
            <td>{{ t.get_where_ips_allocated.start_addr }}/{{ t.get_where_ips_allocated.mask }} ({{ t.get_where_ips_allocated.size }} addresses)</td>
        {% if user.is_authenticated %}
        {% if user == t.owner or user.is_superuser %}
        </tr><tr>
            <th>Actions</th>
            <td>
                <a href="/topology{{ t.id }}/allow_new_user/">Add permitted user</a><br/>
                <a href="/topology{{ t.id }}/allow_new_srcip/">Add permitted source IP for traffic</a><br/>
                <a href="/topology{{ t.id }}/delete/">Delete this topology</a>
            </td>
        {% endif %}
        {% endif %}
        </tr>
    </table>

<p>Return to the <a href="/topologies/">Topology Overview page</a>.
{% endblock %}
