{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Topologies{% endblock %}

{% block content %}
    <h2>Active Topologies</h2>
    {% if topos_list %}
    <table>
        <tr>
            <th colspan="2">Owner</th>
            <th>Type</th>
            <th>ID</th>
            <th># IPs Used</th>
            <th>IPs Allocated From</th>
            <th>More</th>
        </tr>
    {% endif %}
    {% for t in topos_list %}
        <tr>
            <td>{{ t.owner.get_profile.org|orglink }}</td>
            <td>{{ t.owner|fnamelink }}</td>
            <td>{{ t.template.name }}</td>
            <td>{{ t.id }}</td>
            <td>{{ t.get_where_ips_allocated.size }}</td>
            <td>{{ t.get_where_ips_allocated.block_from }} ({{ t.get_where_ips_allocated.block_from.org.name }})</td>
            <td><a href="/topology{{ t.id }}/">Details</a></td>
        </tr>
    {% empty %}
    <p>There are no topologies at this time.</p>
    {% endfor %}
    {% if topos_list %}
    </table>
    {% endif %}
{% endblock %}
