{% extends "base.html" %}
{% load custom_filters %}

{% block titlebar %}{{ org.name }}{% endblock %}
{% block title %}{{ org.name }} Roster ({{ users|length }}){% endblock %}

{% block content %}
    {% if users %}
    <table>
        <tr>
            <th>Position</th>
            <th>Username</th>
            <th>Name</th>
            {% if user.is_authenticated %}
            <th>E-mail</th>
            {% if user.get_profile.is_staff %}
            {% if user.get_profile.org == org or user.is_superuser %}
            <th>Actions</th>
            {% endif %}
            {% endif %}
            {% endif %}
        </tr>
    {% endif %}
    {% for u in users %}
        <tr>
            <td>{{ u.get_position_str }}</td>
            <td><a href="/user/{{ u.user.username }}/">{{ u.user.username }}</a></td>
            <td>{{ u.user.get_full_name }}</td>
            {% if user.is_authenticated %}
            <td>{{ u.user.email }}</td>
            {% if user.get_profile.is_staff %}
            {% if user.get_profile.org == org or user.is_superuser %}
            <td><a href="/user/{{ u.user.username }}/delete/">Delete</a></td>
            {% endif %}
            {% endif %}
            {% endif %}
        </tr>
    {% empty %}
    <p>There are no users in this organization.</p>
    {% endfor %}
    {% if users %}
    </table>
    {% endif %}
{% endblock %}
