{% extends "base.html" %}
{% load custom_filters %}

{% block titlebar %}User Profile: {{ up.user.username }}{% endblock %}
{% block title %}{{ up.user.username }}{% endblock %}

{% block content %}
    <table class="vert">
        <tr>
            <th>Name</th>
            <td>{{ up.user.get_full_name }}</td>
        </tr><tr>
            <th>Organization</th>
            <td>{{ up.org|orglink }}</td>
        </tr><tr>
            <th>Position</th>
            <td>{{ up.get_position_str }}</td>
        </tr><tr>
            <th>E-mail Address</th>
            <td>{{ up.user.email }}</td>
        {% if user.is_authenticated %}
        {% if user == up.user or user.get_profile.is_staff %}
        </tr><tr>
            <th>Simulation Auth Key</th>
            <td>{{ up.get_sim_auth_key }}</td>
        {% endif %}
        {% endif %}
        </tr><tr>
            <th>Topologies Owned</th>
            <td>
                {% for t in up.get_owned_topologies %}
                    {{ t|topolink }} ({{ t.template.name }})<br/>
                {% empty %}
                    None
                {% endfor %}
            </td>
        </tr><tr>
            <th>Topologies Assigned To</th>
            <td>
                {% for t in up.get_usable_topologies %}
                    {{ t|topolink }} ({{ t.template.name }})<br/>
                {% empty %}
                    None
                {% endfor %}
            </td>
        </tr>
    </table>

    {% if user.is_authenticated %}
        {% if user == up.user %}
            <p><a href="/user/{{ up.user.username }}/change_password/">Change Your Password</a></p>
        {% else %}
            {% if user.get_profile.is_staff or user.is_superuser %}
                <p><b>Staff Action</b>: <a href="/user/{{ up.user.username }}/change_password/">Change {{ up.user.get_full_name }}'s Password</a></p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
