<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VNS: {% block titlebar %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/vns.css" media="all"/>
</head>
<body>

<div id="wrap">
    <div id="header">
        <h1>VNS: Virtual Network System</h1>
    </div>
</div>

<div id="wrap_main">
    <div id="main">
        <div id="sidebar">
            <table><tbody>
              <tr>
                 <td><a href="/summary/">Current Usage</a></td>
              </tr>
              <tr>
                 <td><a href="/organizations/">Participants</a></td>
              </tr>
              <tr>
                 <td><a href="/topologies/">Topologies</a></td>
              </tr>
              {% if user.is_authenticated %}
              <tr>
                 <td><a href="/user/{{ user.username }}/">Your Profile</a></td>
              </tr>
              {% if user.get_profile.is_staff %}
              <tr>
                  <td>&nbsp;<br/><h2>Staff Actions</h2></td>
              </tr>
              <tr>
                  <td><a href="/topology/create/">Create Topology</a></td>
              </tr>
                  <td><a href="/user/create/">Create User</a></td>
              </tr>
              {% endif %}
              {% endif %}
            </tbody></table>
        </div>

        <div id="content">
            <div>
                <div id="title">
                    <h1>{% block title %}{% endblock %}</h1>
                </div>

                {% if messages %}
                    <div id="messages">
                        {% for message in messages %}
                        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% block content %}{% endblock %}
            </div>

            <p style="text-align: center; margin-top: 0pt;">
                <a href="http://yuba.stanford.edu/">
                    <img height="55" width="112" style="border: medium none ;" alt="Stanford High-Performance Networking Group" src="http://yuba.stanford.edu/cs344/images/hpng.jpg"/>
                </a>

                <a href="http://www.stanford.edu/">
                    <img height="59" width="149" style="border: medium none ;" alt="Stanford University" src="http://yuba.stanford.edu/cs344/images/su.gif"/>
                </a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
