body { background-color:#FDFDFD }
h1, h2, h3, h4 { color: #000088 }
table, th, td {
    border-color: black;
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-collapse: collapse;
    margin: 0 0 0 0;
}
th,td {
    border-width: 1px 1px 0 0;
    padding: 6px;
}
th {
    background-color: #CCCCCC;
}
table.vert th {
    text-align: right;
    vertical-align: top;
}
#noborder table, #noborder th, #noborder td {
    border-width: 0 0 0 0;
}
.noborder table, .noborder th, .noborder td {
    border-width: 0 0 0 0;
}
